{% extends "base_auth.html" %}

{% load i18n %}

{% block title %}{% trans "add user" %}{% endblock %}

{% block content %}

    {% load urlutils %}

    <form action="" method="post">{% csrf_token %}

        <div class="bordered">

            <table class="object_form center">
                <tr>
                    <td colspan="2">

                        <h2>
                            {% allowedurl True %}
                                /auth/get_users/
                                {% trans "users" %}
                            {% endallowedurl %}
                            &rarr;
                            <span class="menu_linked">{% trans "add user" %}</span>
                        </h2>
                    </td>
                </tr>

                {% if groups_error %}

                    <tr>
                        <td>
                            <span class="errormessage">{% trans groups_error %}</span>
                        </td>
                    </tr>

                {% else %}

                    {{ form.as_table }}

                    <tr>
                        <td colspan="2" class="control">
                            <input type="submit" style="font-weight:bold;" value="{% trans 'create' %}" />
                            <input type="hidden" id="stay_here" name="stay_here" value=0 />
                            <input type="submit" value="{% trans 'create and add another' %}"
                                onclick="var f = this.form; f.stay_here.value=1; f.submit()" />
                        </td>
                    </tr>

                {% endif %}

            </table>
            <br>
        </div>

    </form>


{% endblock %}
