{% extends "base_auth.html" %}

{% load i18n %}

{% block title %}{% trans "user action logs" %}{% endblock %}

{% block user_submenu %}

    {% load urlutils %}
    {% load localeurl_tags %}

    {% if "/auth/modify_users/"|is_url_allowed:rights %}
        <div class="submenu">
            <a href="{{ '/auth/modify_users/'|chlocale:cur_lang }}{{ user.id }}/">
                {% trans "modify user" %}
            </a>
        </div>
    {% endif %}

    {% if "/auth/get_action_logs/"|is_url_allowed:rights %}
        <div class="submenu">
            <span class="menu_linked">{% trans "user action logs" %}</span>
        </div>
    {% endif %}

{% endblock %}

{% block content %}

    {% load urlutils %}

    <form action="" method="get">{% csrf_token %}

        <div class="bordered">

            <table class="object_form center"  style="border-collapse:collapse;">
                <tr>
                    <td colspan="2">
                        <h2 class="menu_linked">
                            {% allowedurl True %}
                                /auth/get_users/
                                {% trans "users" %}
                            {% endallowedurl %}
                            &rarr;
                            <a href="/auth/user_info/{{ user.id }}/">{{ user.login }}</a>
                            &rarr;
                            {% trans "user action logs" %}
                        </h2>
                    </td>
                </tr>

                {{ form.as_table }}

                <tr>
                    <td colspan="2" class="control">
                        <input type="submit" value={% trans "filter" %} />
                    </td>
                </tr>

            </table>

            <script type="text/javascript" src="/static/js/jquery-ui.js"></script>
            <script type="text/javascript" src="/static/js/jquery.url.min.js"></script>
            <script type="text/javascript" src="/static/js/i18n/jquery-ui-i18n.js"></script>
            <script type="text/javascript" src="/static/js/calendar.js"></script>
            <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui/overcast/jquery-ui.custom.css" />

            <script type="text/javascript">
                calendar("from_request_date")
                calendar("to_request_date")
            </script>

            <br>

        </div>

    </form>

    {% include "core_action_logs/actions_list.html" %}

{% endblock %}
