{% extends "base_auth.html" %}

{% load i18n %}

{% block title %}{% trans "auth user information" %}{% endblock %}

{% block user_submenu %}
    {% include "user/auth_sumbmenu.html" %}
{% endblock %}

{% block content %}

    {% load urlutils %}

    <div class="bordered">

        <table class="object_form center">
            <tr>
                <td colspan="2">
                    <h2>
                        {% allowedurl True %}
                            /auth/get_users/
                            {% trans "users" %}
                        {% endallowedurl %}
                        &rarr;
                        {% if user.login %}
                            <span class="ui-state-active">{{ user.login }}</span>
                        {% else %}
                            <span class="ui-state-active">{% trans "user not found" %}</span>
                        {% endif %}
                    </h2>
                </td>
            </tr>

            {% if users_error %}

                <tr>
                    <td>
                        <span class="errormessage">{% trans users_error %}</span>
                    </td>
                </tr>

            {% else %}

                {% if user %}

                    {% if "/auth/modify_users/,/auth/get_action_logs/"|is_any_of_urls_allowed:rights %}

                        <tr><td><hr></td></tr>
                        <tr><td>
                            {% allowedurl %}
                                /auth/modify_users/{{ user.id }}/
                                {% trans "modify user" %}
                                <br>
                            {% endallowedurl %}

                            {% allowedurl %}
                                /auth/get_action_logs/{{ user.id }}/
                                {% trans "user action logs" %}
                                <br>
                            {% endallowedurl %}
                        </td></tr>

                    {% endif %}

                    {% if access_to_billing_user_info %}

                        <tr><td><hr></td></tr>

                        {% load localeurl_tags %}

                        <tr>
                            <td>
                                <a href="{{ '/billing/user_info/'|chlocale:cur_lang }}{{ user.id }}/">
                                    {% trans "billing user info" %}
                                </a>
                            </td>
                        </tr>

                    {% endif %}

                {% else %}

                    <tr><td>{% trans "no available user operations" %}</td></tr>

                {% endif %}

            {% endif %}

        </table>

        <br>

    </div>

{% endblock %}
