{% extends "base_auth.html" %}

{% load i18n %}

{% block title %}{% trans "user information" %}{% endblock %}

{% block content %}

    {% load urlutils %}

    <div class="bordered">

        <table class="object_form center">
            <tr>
                <td colspan="2">
                    <h2>
                        {% allowedurl True %}
                            /auth/get_users/
                            {% trans "users" %}
                        {% endallowedurl %}
                        &rarr;
                        {% if user.login %}
                            <span class="menu_linked">{{ user.login }}</span>
                        {% else %}
                            <span class="menu_linked">{% trans "user not found" %}</span>
                        {% endif %}
                    </h2>
                </td>
            </tr>

            {% if users_error %}

                <tr>
                    <td>
                        <span class="errormessage">{% trans users_error %}</span>
                    </td>
                </tr>

            {% else %}

                {% if user %}

                    {% if "/auth/modify_users/,/auth/get_action_logs/"|is_any_of_urls_allowed:rights %}

                        <tr><td><hr></td></tr>
                        <tr><td>{% trans "auth operations" %}</td></tr>
                        <tr><td>
                            {% if "/auth/modify_users/"|is_url_allowed:rights %}
                                <a href="/auth/modify_users/{{ user.id }}/">
                                    {% trans "modify user" %}
                                </a>
                                <br>
                            {% endif %}

                            {% if "/auth/get_action_logs/"|is_url_allowed:rights %}
                                <a href="/auth/get_action_logs/{{ user.id }}/">
                                    {% trans "user action logs" %}
                                </a>
                                <br>
                            {% endif %}
                        </td></tr>

                    {% endif %}

                    {% if "/billing/get_balances/,/billing/get_action_logs/"|is_any_of_urls_allowed:rights %}

                        <tr><td><hr></td></tr>
                        <tr><td>{% trans "billing operations" %}</td></tr>
                        <tr><td>
                            {% if "/billing/get_balances/"|is_url_allowed:rights %}
                                <a href="/billing/get_balances/?user_id={{ user.id }}">
                                    {% trans "user balance" %}
                                </a>
                                <br>
                            {% endif %}

                            {% if "/billing/get_action_logs/"|is_url_allowed:rights %}
                                <a href="/billing/get_action_logs/?user_id={{ user.id }}">
                                    {% trans "user billing action logs" %}
                                </a>
                                <br>
                            {% endif %}
                        </td></tr>

                    {% endif %}

                {% else %}

                    <tr><td>{% trans "no available user operations" %}</td></tr>

                {% endif %}

            {% endif %}

        </table>

        <br>

    </div>

{% endblock %}
