{% load i18n %}
{% load urlutils %}
{% load localeurl_tags %}

<div>
    {% trans "total locks" %}: {{ pager.total }} &nbsp;
</div>

<br>

<table class="center wide bordered">

    {% if locks_error %}

        <tr class="objects_data">
            <td>
                <span class="errormessage">{% trans locks_error %}</span>
            </td>
        </tr>

    {% else %}

        {% if locks %}

            <tr>
                <td colspan="6">
                    {% include "pager.html" %}
                </td>
            </tr>

            <tr class="objects_fields">
                <th>{% trans "id" %}</th>
                {% if "/billing/modify_balances/"|is_url_allowed:rights %}
                    <th>{% trans "balance id" %}</th>
                {% endif %}
                {% if "/billing/add_balances/,/billing/get_balances/,/billing/get_action_logs/"|is_any_of_urls_allowed:rights %}
                    <th>{% trans "user id" %}</th>
                {% endif %}
                <th>{% trans "currency" %}</th>
                <th>{% trans "creation date" %}</th>
                <th>{% trans "order id" %}</th>
                <th>{% trans "real" %}</th>
                <th>{% trans "virtual" %}</th>
                <th>{% trans "info" %}</th>
            </tr>

            {% for lock in locks %}
                <tr class="objects_data {% cycle 'row1' 'row2' %}">

                    <td>{{ lock.id }}</td>

                    {% if "/billing/modify_balances/"|is_url_allowed:rights %}
                        <td>
                            {% allowedurl True %}
                                /billing/modify_balances/{{ lock.balance_id }}/
                                {{ lock.balance_id }}
                            {% endallowedurl %}

                            {% allowedurl %}
                                /billing/modify_balances/{{ lock.balance_id }}/
                                <br>
                                <span class="small_text">{% trans "modify" %}</span>
                            {% endallowedurl %}

                        </td>
                    {% endif %}

                    {% if access_to_billing_user_info %}
                        <td>
                            <a href="{{ '/billing/user_info/'|chlocale:cur_lang }}{{ lock.user_id }}/">
                                {{ lock.user_id }}
                            </a>
                        </td>
                    {% endif %}

                    <td>{{ lock.currency_code }}</td>
                    <td>
                        <span style="white-space:nowrap;">
                            {{ lock.creation_date|date:"Y-m-d" }}
                        </span>
                        <span style="white-space:nowrap;">
                            {{ lock.creation_date|date:"H:i:s" }}
                        </span>
                    </td>
                    <td>{{ lock.order_id }}</td>
                    <td>{{ lock.real_amount }}</td>
                    <td>{{ lock.virtual_amount }}</td>
                    <td>{{ lock.info }}</td>
                </tr>
            {% endfor %}

            <tr>
                <td colspan="6">
                    {% include "pager.html" %}
                </td>
            </tr>


        {% else %}

            <tr><th>{% trans "no locks found" %}</th></tr>

        {% endif %}

    {% endif %}

</table>
