{% load i18n %}
{% load urlutils %}
{% load localeurl_tags %}

<div>
    {% trans "total transactions" %}: {{ pager.total }} &nbsp;
</div>

<br>

<table class="center wide bordered">

    {% if transactions_error %}

        <tr class="objects_data">
            <td>
                <span class="errormessage">{% trans transactions_error %}</span>
            </td>
        </tr>

    {% else %}

        {% if transactions %}

            <tr>
                <td colspan="10">
                    {% include "pager.html" %}
                </td>
            </tr>

            <tr class="objects_fields">
                <th>{% trans "id" %}</th>
                {% if "/billing/modify_balances/"|is_url_allowed:rights %}
                    <th>{% trans "balance id" %}</th>
                {% endif %}
                {% if "/billing/get_balances/"|is_url_allowed:rights %}
                    <th>{% trans "user id" %}</th>
                {% endif %}
                <th>{% trans "type" %}</th>
                <th>{% trans "currency" %}</th>
                <th>{% trans "creation date" %}</th>
                <th>{% trans "order id" %}</th>
                <th>{% trans "real" %}</th>
                <th>{% trans "virtual" %}</th>
                <th>{% trans "info" %}</th>
            </tr>

            {% for transaction in transactions %}
                <tr class="objects_data {% cycle 'row1' 'row2' %}">

                    <td>{{ transaction.id }}</td>

                    {% if "/billing/modify_balances/"|is_url_allowed:rights %}
                        <td>
                            {% allowedurl True %}
                                /billing/modify_balances/{{ transaction.balance_id }}/
                                {{ transaction.balance_id }}
                            {% endallowedurl %}

                            {% allowedurl %}
                                /billing/modify_balances/{{ transaction.balance_id }}/
                                <br>
                                <span class="small_text">{% trans "modify" %}</span>
                            {% endallowedurl %}

                        </td>
                    {% endif %}

                    {% if "/billing/get_balances/"|is_url_allowed:rights %}
                        <td>
                            {% allowedurl %}
                                /billing/get_balances/{{ transaction.user_id }}/
                                {{ transaction.user_id }}
                            {% endallowedurl %}
                        </td>
                    {% endif %}

                    <td>{% trans transaction.type %}</td>
                    <td>{{ transaction.currency_code }}</td>
                    <td>
                        <span style="white-space:nowrap;">
                            {{ transaction.creation_date|date:"Y-m-d" }}
                        </span>
                        <span style="white-space:nowrap;">
                            {{ transaction.creation_date|date:"H:i:s" }}
                        </span>
                    </td>
                    <td>{{ transaction.order_id }}</td>
                    <td>{{ transaction.real_amount }}</td>
                    <td>{{ transaction.virtual_amount }}</td>
                    <td>{{ transaction.info }}</td>
                </tr>
            {% endfor %}

            <tr>
                <td colspan="10">
                    {% include "pager.html" %}
                </td>
            </tr>

            <script type="text/javascript">
                $(document).ready(function() {
                    $('input.operation').click(function() {
                        var obj_id = $(this).attr("id");
                        $.post(
                            "/{{ cur_lang }}/billing/" + $(this).attr("action") + "/",
                            {"lock_id": $(this).attr("lock_id"), "balance_id": $(this).attr("balance_id")},
                            function (data) {
                                if (data.status == "ok") {
                                    location.reload();
                                } else {
                                    $('#err_' + obj_id).html(data.code);
                                }
                            },
                            "json"
                        );
                        return false;
                    });
                });
            </script>

        {% else %}

            <tr><th>{% trans "no locks found" %}</th></tr>

        {% endif %}

    {% endif %}

</table>
