{% extends "base_billing.html" %}

{% load i18n %}

{% block title %}
    {% blocktrans %}locks{% endblocktrans %}
{% endblock %}

{% block content %}

    {% load i18n %}
    {% load urlutils %}
    {% load localeurl_tags %}

    <div class="bordered">

        <form action="" method="get">{% csrf_token %}

            <table class="filter_object center">
                <tr>
                    <td class="menu_linked" colspan="2">
                        <h2>
                            {% trans "locks" %}
                        </h2>
                    </td>
                </tr>

                {{ form.as_table }}

                <tr>
                    <td colspan="2" class="control">
                        <input type="submit" value={% trans "filter" %} />
                    </td>
                </tr>

            </table>

            <br>

            <script type="text/javascript" src="/static/js/jquery-ui.js"></script>
            <script type="text/javascript" src="/static/js/jquery.url.min.js"></script>
            <script type="text/javascript" src="/static/js/i18n/jquery-ui-i18n.js"></script>
            <script type="text/javascript" src="/static/js/calendar.js"></script>
            <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui/overcast/jquery-ui.custom.css" />

            <script type="text/javascript">
                calendar("from_creation_date")
                calendar("to_creation_date")
            </script>

        </form>
    </div>

    <br>

    {% include "balance/_locks.html" %}

{% endblock %}
