{% load i18n %}
{% load urlutils %}
{% load localeurl_tags %}

<table class="center wide">

    {% if balances_error %}

        <tr class="objects_data">
            <td>
                <span class="errormessage">{% trans balances_error %}</span>
            </td>
        </tr>

    {% else %}

        {% if balances %}
            <tr>
                <td>
                    <table class="center balance">
                        {% for balance in balances %}
                            <tr>
                                <th colspan="2">
                                    {{ balance.currency_code }}
                                    {% allowedurl %}
                                        /billing/modify_balances/{{ user_id }}/{{ balance.id }}/
                                        {% blocktrans %}
                                            <span class="small_text">(modify)</span>
                                        {% endblocktrans %}
                                    {% endallowedurl %}

                                    {% if not balance.is_active %}
                                        <span class="small_text">(balance disabled)</span>
                                    {% endif %}
                                </th>
                            </tr>
                            <tr {% if not balance.is_active %}class="disabled"{% endif %}>
                                <td>{% trans "real amount" %}</td>
                                <td>{{ balance.real_amount }}</td>
                            </tr>
                            <tr {% if not balance.is_active %}class="disabled"{% endif %}>
                                <td>{% trans "virtual amount" %}</td>
                                <td>{{ balance.virtual_amount }}</td>
                            </tr>
                            <tr {% if not balance.is_active %}class="disabled"{% endif %}>
                                <td>{% trans "locked amount" %}</td>
                                <td>{{ balance.locked_amount }}</td>
                            </tr>

                            {% if balance.overdraft_limit != '0.0' or  balance.overdraft_limit != '0.00' or balance.overdraft_limit != '0.000' %}
                            <tr {% if not balance.is_active %}class="disabled"{% endif %}>
                                <td>{% trans "overdraft limit" %}</td>
                                <td>{{ balance.overdraft_limit }}</td>
                            </tr>
                            {% endif %}
                            {% if balance.locking_order %}
                            <tr {% if not balance.is_active %}class="disabled"{% endif %}>
                                <td>{% trans "locking order" %}</td>
                                <td>{{ balance.locking_order_text }}</td>
                            </tr>
                            {% endif %}

                            {% if 'real_amount' in balance.locking_order %}
                                    <tr>
                                        <td colspan="2">
                                            {% allowedurl %}
                                                /billing/add_receipt/{{ user_id }}/{{ balance.id }}/
                                                <span class="small_text">({% trans "add receipt" %})</span>
                                            {% endallowedurl %}
                                        </td>
                                    </tr>
                            {% endif %}

                            {% if 'virtual_amount' in balance.locking_order %}
                                <tr>
                                    <td colspan="2">
                                        {% allowedurl %}
                                            /billing/add_bonus/{{ user_id }}/{{ balance.id }}/
                                            <span class="small_text">({% trans "add bonus" %})</span>
                                        {% endallowedurl %}
                                    </td>
                                </tr>
                            {% endif %}

                            <tr><td colspan="2"><hr></td></tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>

        {% else %}

            <tr><th>{% trans "no balances found" %}</th></tr>

        {% endif %}

    {% endif %}

</table>
