{% load i18n %}
{% load urlutils %}
{% load localeurl_tags %}

<table class="center wide">

    {% if balances_error %}

        <tr class="objects_data">
            <td>
                <span class="errormessage">{% trans balances_error %}</span>
            </td>
        </tr>

    {% else %}

        {% if balances %}
            <tr>
                <td>
                    <table class="center balance">
                        {% for balance in balances %}
                            <tr>
                                <th colspan="2">
                                    {{ balance.currency_code }}
                                    {% allowedurl %}
                                        /billing/modify_balances/{{ user_id }}/{{ balance.id }}/
                                        {% blocktrans %}
                                            <span class="small_text">(modify)</span>
                                        {% endblocktrans %}
                                    {% endallowedurl %}

                                    {% if not balance.is_active %}
                                        <span class="small_text">(balance disabled)</span>
                                    {% endif %}
                                </th>
                            </tr>
                            <tr {% if not balance.is_active %}class="disabled"{% endif %}>
                                <td>{% trans "real amount" %}</td>
                                <td>{{ balance.real_amount }}</td>
                            </tr>
                            <tr {% if not balance.is_active %}class="disabled"{% endif %}>
                                <td>{% trans "virtual amount" %}</td>
                                <td>{{ balance.virtual_amount }}</td>
                            </tr>
                            <tr {% if not balance.is_active %}class="disabled"{% endif %}>
                                <td>{% trans "locked amount" %}</td>
                                <td>{{ balance.locked_amount }}</td>
                            </tr>

                            {% if balance.overdraft_limit != '0.0' or  balance.overdraft_limit != '0.00' or balance.overdraft_limit != '0.000' %}
                                <tr {% if not balance.is_active %}class="disabled"{% endif %}>
                                    <td>{% trans "overdraft limit" %}</td>
                                    <td>{{ balance.overdraft_limit }}</td>
                                </tr>
                            {% endif %}

                            {% if action == "get_balances_self" %}

                                {% if "/billing/get_transactions_self/"|is_url_allowed:rights %}
                                    <tr><td colspan="2">
                                        <a href="/billing/get_transactions_self/">
                                            <span class="small_text">({% trans "transactions" %})</span>
                                        </a>
                                    </td></tr>
                                {% endif %}

                                {% if "/billing/get_locks_self/"|is_url_allowed:rights %}
                                    <tr><td colspan="2">
                                        <a href="/billing/get_locks_self/">
                                            <span class="small_text">({% trans "locks" %})</span>
                                        </a>
                                    </td></tr>
                                {% endif %}

                            {% else %}

                                {% if "/billing/get_transactions/"|is_url_allowed:rights %}
                                    <tr><td colspan="2">
                                        <a href="/billing/get_transactions/{{ user_id }}/{{ balance.id }}/">
                                            <span class="small_text">({% trans "transactions" %})</span>
                                        </a>
                                    </td></tr>
                                {% endif %}

                                {% if "/billing/get_locks/"|is_url_allowed:rights %}
                                    <tr><td colspan="2">
                                        <a href="/billing/get_locks/{{ user_id }}/{{ balance.id }}/">
                                            <span class="small_text">({% trans "locks" %})</span>
                                        </a>
                                    </td></tr>
                                {% endif %}
                            {% endif %}


                            {% if "/billing/add_receipt/"|is_url_allowed:rights %}
                                <tr><td colspan="2">
                                    <a href="/billing/add_receipt/{{ user_id }}/{{ balance.id }}/">
                                        <span class="small_text">({% trans "add receipt" %})</span>
                                    </a>
                                </td></tr>
                            {% endif %}

                            {% if "/billing/add_bonus/"|is_url_allowed:rights %}
                                <tr><td colspan="2">
                                    <a href="/billing/add_bonus/{{ user_id }}/{{ balance.id }}/">
                                        <span class="small_text">({% trans "add bouns" %})</span>
                                    </a>
                                </td></tr>
                            {% endif %}

                            {% if "/billing/lock/"|is_url_allowed:rights %}
                                <tr><td colspan="2">
                                    <a href="/billing/lock/{{ user_id }}/{{ balance.id }}/">
                                        <span class="small_text">({% trans "lock" %})</span>
                                    </a>
                                </td></tr>
                            {% endif %}

                            <tr><td colspan="2"><hr></td></tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>

        {% else %}

            <tr><th>{% trans "no balances found" %}</th></tr>

        {% endif %}

    {% endif %}

</table>
