table.main tr {vertical-align:text-top;}

span.errormessage {color:red;}
tr.errormessage {background-color:pink;}

table.center {margin-left:auto;margin-right:auto;}
table.wide {width:100%;}
table.header {width:100%;background:#EDE8E8;padding:10px;}

table.lang_sw {margin:auto 0px auto auto;}
table.lang_sw td {border:1px solid #BABABA;padding:3px;}

table.add_object th {text-align:left;vertical-align:text-top;}

td.lang_sel {background:#FAFAC8;}

tr.objects_fields {background:#EFF3FF;}
tr.objects_data {vertical-align:text-top;}

.control {background:#EDE8E8;text-align:right;}

div.slider_area {border:1px solid #BABABA;padding:4px;}

table.filter_object {border:1px solid #BABABA;}
table.objects_list {border:1px solid #BABABA;}