<!doctype html>
<html>
<head>

    <meta charset="utf-8">

    <title>{% block title %}Helixweb of helix project{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui/current-theme/jquery-ui.custom.css" />

    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />

</head>

<body>
    <script>
        $( function() {
            {% comment %} making elements of class control viewed like buttons {% endcomment %}
            $( "input:submit, button", ".control" ).button();
        });
    </script>

    {% load i18n %}
    {% load localeurl_tags %}

    <table class="center main ui-widget">
        <tr>
            <td colspan="2">

                <div>
                    <table class="wide ui-widget-header">
                        <tr>
                            <td class="header"><h3>helixproject</h3></td>
                            <td class="control">
                                {% load lang_switcher %}
                                {% lang_switcher %}
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        {% if logged_in %}
        <tr>
            <td style="padding-left:0px">
                {% load service_switcher %}
                {% service_switcher %}
            </td>
            <td class="user_id_info">
                <span>
                    {% blocktrans %}user id #{{ logged_user_id }}{% endblocktrans %}
                </span>
            </td>
        </tr>
        {% endif %}
        <tr class="ui-widget-content">
            <td class="sidebar">
                <div id="sidebar">
                    {% block sidebar %}{% endblock %}
                </div>
            </td>
            <td>
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="footer" class="small_text">
                    <hr />
                    <img src="/static/images/15px-Copyleft.png">
                    {% now "Y" %} helixproject
                </div>
            </td>
        </tr>


    </table>

</body>
</html>