<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

    <meta charset="utf-8">

    <title>{% block title %}Helixweb of helix project{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui/current-theme/jquery-ui.custom.css" />

</head>

<body>

    {% load i18n %}
    {% load localeurl_tags %}

    <table class="center main ui-widget">
        <tr>
            <td colspan="2">

                <div>
                    <table class="wide ui-widget-header">
                        <tr>
                            <td style="padding-left:17px;"><h1>helixproject</h1></td>
                            <td style="text-align:right;" class="control">
                                {% load lang_switcher %}
                                {% lang_switcher %}
                                {% if logged_in %}
                                    <a href={{ "/auth/logout/"|chlocale:cur_lang }}>{% trans "logout" %}</a>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        {% if logged_in %}
        <tr>
            <td style="padding-left:0px">
                {% load service_switcher %}
                {% service_switcher %}
            </td>
            <td class="user_id_info">
                <span>
                    {% blocktrans %}logged in as user id #{{ logged_user_id }}{% endblocktrans %}
                </span>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td width="20%">
                <div id="sidebar">
                    {% block sidebar %}{% endblock %}
                </div>
            </td>
            <td>
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="footer">
                    <hr />
                    <img src="/static/images/15px-Copyleft.png">
                    {% now "Y" %} helixproject
                </div>
            </td>
        </tr>


    </table>


</body>
</html>