{% load i18n %}
{% load localeurl_tags %}

<table class="lang_sw">
    <tr>
        <td class="radio_control">
            {% for l in langs %}
                {% if l.0 == cur_lang %}
                    <a href="" id="a_cur_lang">{% trans l.1 %}</a>
                {% else %}
                    <a href="{{ path|chlocale:l.0 }}{% if url_params %}?{{ url_params|safe }}{% endif %}">
                        {% trans l.1 %}</a>
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>
            {% if logged_in %}
                <a href={{ "/auth/logout/"|chlocale:cur_lang }}>{% trans "logout" %}</a>
            {% endif %}
        </td>
    </tr>
</table>


<script>
    $(document).ready(function() {
        $( "#a_cur_lang" ).addClass("ui-state-active");
    });
</script>
