{% load i18n %}
{% load localeurl_tags %}


<table class="lang_sw">
    <tr>
        <td class="radio-control ui-buttonset">
            {% for l in langs %}
                {% if l.0 == cur_lang %}
                    <a href="" class="ui-button ui-widget ui-state-active ui-button-text-only
                        {% if forloop.counter == 1 %}
                          ui-corner-left
                        {% elif forloop.counter == langs|length %}
                          ui-corner-right
                        {% endif %}"
                        role="button" aria-disabled="false"><span class="ui-button-text">{% trans l.1 %}</span>
                    </a>
                {% else %}
                    <a href="{{ path|chlocale:l.0 }}{% if url_params %}?{{ url_params|safe }}{% endif %}"
                        class="ui-button ui-widget ui-state-default ui-button-text-only
                        {% if forloop.counter == 1 %}
                          ui-corner-left
                        {% elif forloop.counter == langs|length %}
                          ui-corner-right
                        {% endif %}"
                        role="button" aria-disabled="false"><span class="ui-button-text">{% trans l.1 %}</span></a>
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>
            {% if logged_in %}
                <form action='{{ "/auth/logout/"|chlocale:cur_lang }}' method="post">{% csrf_token %}
                    <input type="submit" value={% trans "logout" %} />
                </form>
            {% endif %}
        </td>
    </tr>
</table>
