{% if pager %}

{% load i18n %}
{% load paging %}

<input type="hidden" id="pager_offset" />
<table class="center wide">
    <tr>
        <td style="text-align:left;">
            {% trans "Page" %}:
            {% for p_info in pager.pages_range %}

                {% if p_info.0 == pager.current_page %}
                    {{ p_info.0 }}&nbsp;
                {% else %}
                    <a href="{% nextpageurl %}{{ p_info.1 }}{% endnextpageurl %}">
                        {{ p_info.0 }}</a>&nbsp;
                {% endif %}
            {% endfor %}
        </td>

        <td>
            {% if pager.current_page == 1 %}
                {% trans "first" %}
            {% else %}
                <a href="{% nextpageurl %}0{% endnextpageurl %}">
                    {% trans "first" %}</a>&nbsp;
            {% endif %}
            /
            {% if pager.current_page == pager.last_page %}
                {% trans "last" %}
            {% else %}
                <a href="{% nextpageurl %}{{ pager.last_page_offset }}{% endnextpageurl %}">
                    {% trans "last" %}</a>&nbsp;
            {% endif %}
        </td>

        <td style="text-align:right;">
            {% trans "Show" %}:
            {% for v in pager.on_page_ranges %}
                {% if pager.on_page == v %}
                    {{ v }}&nbsp;
                {% else %}
                    <a href="" onclick="$.cookie('pager_on_page', {{ v }}, {expires: 3650})">
                        {{ v }}</a>&nbsp;
                {% endif %}
            {% endfor %}
        </td>
    </tr>
</table>

{% endif %}