{% load i18n %}

<table class="service_sw">
    <tr>
        <td class="radio_control">
            {% for s in services %}
                {% if s == cur_service %}
                    <a href="" id="a_cur_service">{{ s }}</a>
                {% else %}
                    <a href="/{{ cur_lang }}/{{ s }}/">{{ s }}</a>
                {% endif %}
            {% endfor %}
        </td>
    </tr>
</table>


<script>
    $(document).ready(function() {
        $( "#a_cur_service" ).addClass("ui-state-active");
    });
</script>
