{% extends "base_auth.html" %}

{% load i18n %}

{% block title %}{% trans "services list" %}{% endblock %}

{% block content %}

<script type="text/javascript" src="/static/js/utils.js"></script>

<form action="" method="get">
    <div class="bordered">
        <table class="filter_object center">

            <tr>
                <th>
                    <h2>{% trans "services" %}</h2>
                </th>
                <td></td>
            </tr>

            {{ filter_service_form.as_table }}

            <tr>
                <td colspan="2" class="control">
                    <input type="submit" value={% trans "filter" %} />
                </td>
            </tr>
        </table>
        <br>
    </div>

    <br>

    {% load urlutils %}

    <div>
        {% trans "total services" %}: {{ pager.total }} &nbsp;
        {% allowedurl %}
            /auth/add_service/
            {% trans "add service" %}
        {% endallowedurl %}
    </div>

    <br>

    <table class="center wide bordered">

        {% if services_error %}

            <tr>
                <td>
                    <span class="errormessage">{% trans services_error %}</span>
                </td>
            </tr>

        {% else %}

            {% if services %}

                <tr>
                    <td colspan="4">
                        {% include "pager.html" %}
                    </td>
                </tr>
                <tr class="objects_fields">
                    <th>{% trans "service name" %}</th>
                    <th>{% trans "type" %}</th>
                    <th>{% trans "is active" %}</th>
                    <th>{% trans "functions" %}</th>
                </tr>

                {% for srv in services %}
                    <tr class="objects_data">
                        <td>
                            {% allowedurl True %}
                                /auth/modify_service/{{ srv.id }}/
                                {% trans srv.name %}
                            {% endallowedurl %}
                        </td>
                        <td>{{ srv.type }}</td>
                        <td>
                            {% if srv.is_active %}
                                +
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="func_list">

                            <a href="#" id="props_{{ srv.id }}">[+] {% trans "list" %}</a>
                            <div id="props_list_{{ srv.id }}" style="display:none;">
                                {{ srv.properties|unordered_list }}
                            </div>

                            <script type="text/javascript">
                                slider('props_{{ srv.id }}', 'props_list_{{ srv.id }}')
                            </script>

                        </td>
                    </tr>

                {% endfor %}

                <tr>
                    <td colspan="4">
                        {% include "pager.html" %}
                    </td>
                </tr>

            {% else %}

                <tr><th>{% trans "no services" %}</th></tr>

            {% endif %}

        {% endif %}

    </table>

</form>

{% endblock %}