@font-face {
  src: url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic) format('woff');
  font-family: 'PT Sans', sans-serif;
}

.ui-widget {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1em;
}

table.main {width:100%;}
table.main tr {vertical-align:top;}

tr.row1 {background:white;}
tr.row2 {background:#DFDFDF;}

.errormessage {color:red;}
.disabled {color:gray;}
tr.errormessage {background-color:pink;}
td.header {padding-left:17px;}

table.center {margin-left:auto;margin-right:auto;}
table.wide {width:100%;}

table.lang_sw {margin:auto 0px auto auto;}
table.lang_sw td {padding:2px;}

table.service_sw {margin:auto auto auto 0px;}

table.object_form td {vertical-align:top;}
table.object_form th {vertical-align:top;text-align:right;}
table.object_form ul {list-style:none;padding-left:0px;}

table.notification_messages {vertical-align:top;text-align:left;}

tr.objects_fields {background:#EFF3FF;}
tr.objects_data {vertical-align:text-top;text-align:center;}

.control {text-align:right;font-size:small;}
.radio_control {font-size:small;white-space:nowrap;}
.bordered {border:1px solid #BABABA;}

/*.menu_linked {color:#2c9e1f;}*/

.submenu {padding-left:20px;}

.small_text {font-size:small;}

.user_id_info {font-size:small;font-weight:bold;text-align:right;vertical-align:middle;}

div.slider_area {border:1px solid #BABABA;padding:4px;}

table.filter_object td {vertical-align:top;}
table.filter_object th {vertical-align:middle;text-align:right;}
table.filter_object li {list-style-type:none;list-style-position:outside;}

table.left_menu td {padding-left:30px;padding-right:10px;font-weight:bold;}

table.services_properties th {text-align:left;background:#EDE8E8;}
table.services_properties td {text-align:left;}

table.balance {padding:1px 2px 1px 2px;}
table.balance th {text-align:left;background:#EFF3FF;}
table.balance td {padding:2px 10px 2px 10px;}

td.sidebar {width:20%;}

.noborder {border:0px !important;}

/*.marked {color:green;}*/
.not_marked {color:red;}
