{% extends "base.html" %}

{% block sidebar %}

{% load urlutils %}
{% load i18n %}

<table class="left_menu bordered wide">
    <tr><td></td></tr>
    {% if "/auth/get_users/,/auth/add_user/"|is_any_of_urls_allowed:rights %}
        <tr>
            <td>
                {% allowedurl %}
                    /auth/get_users/
                    {% trans "users" %}
                    <br>
                {% endallowedurl %}

                {% block user_submenu %}
                {% endblock %}

                {% allowedurl %}
                    /auth/add_user/
                    <span style="white-space:nowrap;">{% trans "add user" %}</span>
                    <br>
                {% endallowedurl %}
                <br>
            </td>
        </tr>
    {% endif %}

    {% if "/auth/get_groups/,/auth/add_group/"|is_any_of_urls_allowed:rights %}
        <tr>
            <td>
                {% allowedurl %}
                    /auth/get_groups/
                    {% trans "groups" %}
                    <br>
                {% endallowedurl %}
                {% allowedurl %}
                    /auth/add_group/
                    <span style="white-space:nowrap;">{% trans "add group" %}</span>
                    <br>
                {% endallowedurl %}
                <br>
            </td>
        </tr>
    {% endif %}

    {% if "/auth/get_services/,/auth/add_service/"|is_any_of_urls_allowed:rights %}
        <tr>
            <td>
                {% allowedurl %}
                    /auth/get_services/
                    {% trans "services" %}
                    <br>
                {% endallowedurl %}
                {% allowedurl %}
                    /auth/add_service/
                    <span style="white-space:nowrap;">{% trans "add service" %}</span>
                    <br>
                {% endallowedurl %}
                <br>
            </td>
        </tr>
    {% endif %}

    {% if "/auth/modify_environment/"|is_any_of_urls_allowed:rights %}
    <tr>
        <td>
            {% allowedurl %}
                /auth/modify_environment/
                {% trans "environment" %}
                <br>
            {% endallowedurl %}
            <br>
        </td>
    </tr>
    {% endif %}

    {% if "/auth/get_action_logs/"|is_any_of_urls_allowed:rights %}
        <tr>
            <td>
                {% allowedurl %}
                    /auth/get_action_logs/
                    <span style="white-space:nowrap;">{% trans "all action logs" %}</span>
                    <br>
                {% endallowedurl %}
                <br>
            </td>
        </tr>
    {% endif %}

    {% if "/auth/modify_user_self/,/auth/get_action_logs_self/"|is_any_of_urls_allowed:rights %}
        <tr>
            <td>
                {% allowedurl %}
                    /auth/modify_user_self/
                    <span style="white-space:nowrap;">{% trans "user settings" %}</span>
                    <br>
                {% endallowedurl %}
                {% allowedurl %}
                    /auth/get_action_logs_self/
                    <span style="white-space:nowrap;">{% trans "action logs" %}</span>
                    <br>
                {% endallowedurl %}
                <br>
            </td>
        </tr>
    {% endif %}

    {% if "/auth/get_api_scheme/"|is_any_of_urls_allowed:rights %}
        <tr>
            <td>
                {% allowedurl %}
                    /auth/get_api_scheme/
                    <span style="white-space:nowrap;">{% trans "api scheme" %}</span>
                    <br>
                {% endallowedurl %}
                <br>
            </td>
        </tr>
    {% endif %}

    <tr><td>&nbsp;</td></tr>
</table>

{% endblock %}
