{% extends "base.html" %}

{% block sidebar %}

{% load urlutils %}
{% load i18n %}

<table class="left_menu bordered wide">
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td>
            {% allowedurl True %}
                /auth/modify_environment/
                {% trans "environment" %}
            {% endallowedurl %}
        </td>
    </tr>
    <tr>
        <td>
            {% allowedurl True %}
                /auth/get_services/
                {% trans "services" %}
            {% endallowedurl %}
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
</table>

{% endblock %}
