{% extends "base_auth.html" %}

{% load i18n %}

{% block title %}{% trans "login" %}{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}

<form action="" method="post">{% csrf_token %}
    <div style="display:block;padding-left:17%;" id="login_block">
        <table class="bordered" style="padding:20px 10px 20px 10px;">
            <tr class="menu_linked login_tab">
                <td>{% trans "login" %}</td>
                <td><a href="" onclick="$('#login_block').hide();  $('#reg_env_block').show(); return false">
                    {% trans "create environment" %}</a>
                </td>
            </tr>
            {{ login_form.as_table }}
            <tr>
                <td colspan="2" class="control">
                    <input type="submit" value={% trans "login" %} />
                </td>
            </tr>
        </table>
    </div>

    <div style="display:none;padding-left:17%;" id="reg_env_block">
        <table class="bordered">
            <tr class="menu_linked login_tab">
                <td><a href="" onclick="$('#reg_env_block').hide();  $('#login_block').show(); return false">
                    {% trans "login" %}</a>
                </td>
                <td>{% trans "create environment" %}</td>
            </tr>
            {{ reg_env_form.as_table }}
            <tr>
                <td colspan="2" class="control">
                    <input type="submit" value={% trans "create environment" %} />
                </td>
            </tr>
        </table>
    </div>
</form>

{% endblock %}
