{% extends "base_auth.html" %}

{% load i18n %}

{% block title %}{% trans "login" %}{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}

    <form action="" method="post">{% csrf_token %}

        <div class="login">

            <table class="object_form">
                <tr>
                    <td colspan="2">
                        <h2>
                            <span>{% trans "login" %}</span>
                        </h2>
                    </td>
                </tr>

                {{ form.as_table }}

                <tr><td colspan="2"><br></td></tr>
                <tr>
                    <td colspan="2" class="control">
                        <input type="submit" value={% trans "login" %} />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <br>
                        {% blocktrans %}
                            For beginning to use create
                            <a href="/auth/add_environment">new environmet</a>.
                        {% endblocktrans %}
                    </td>
                </tr>
            </table>

        </div>

    </form>

{% endblock %}
