{% extends "base_auth.html" %}

{% load i18n %}

{% block title %}{% trans "user registration" %}{% endblock %}

{% block sidebar %}
    <style type="text/css">
        td.sidebar {width:0%;}
    </style>
{% endblock %}

{% block content %}

    <form action="" method="post">{% csrf_token %}

        <div class="login">

            <table class="object_form center">
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <h2>
                            <span>{% trans "user registration" %}</span>
                        </h2>
                    </td>
                </tr>

                {{ form.as_table }}

                <tr><td colspan="2"><br></td></tr>
                <tr>
                    <td colspan="2" class="control">
                        <input type="submit" value='{% trans "register" %}' />
                        <br>
                    </td>
                </tr>

                {% block login %}
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <a href="/auth/login/{% if env_name %}{{ env_name }}/{% endif %}">{% trans "login" %}</a>
                    </td>
                <tr>
                {% endblock %}

                {% block forgot_password %}
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <a href="/auth/restore_password/{% if env_name %}{{ env_name }}/{% endif %}">{% trans "forgot password" %}</a>
                    </td>
                </tr>
                {% endblock %}

                {% block add_environment %}{% endblock %}

            </table>

        </div>

    </form>

{% endblock %}
