{% extends "base_auth.html" %}

{% load i18n %}

{% block title %}{% trans "restore password" %}{% endblock %}

{% block sidebar %}
    <style type="text/css">
        td.sidebar {width:0%;}
    </style>
{% endblock %}

{% block content %}

    <form action="" method="post">{% csrf_token %}

        <div class="login">

            <table class="object_form center">
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <h2>
                            <span>{% trans "restore password" %}</span>
                        </h2>
                    </td>
                </tr>

                {% if is_response %}

                    <tr><td>

                    {% if is_sent %}

                        {% blocktrans %}
                        Restoring password email is sent to {{ email }}
                        {% endblocktrans %}

                    {% else %}

                        {% trans "Restoring password email is not sent. Try again later please." %}

                    {% endif %}

                    </td></tr>

                {% else %}

                {{ form.as_table }}

                <tr><td colspan="2"><br></td></tr>
                <tr>
                    <td colspan="2" class="control">
                        <input type="submit" value='{% trans "restore" %}' />
                        <br>
                    </td>
                </tr>

                {% endif %}

                {% block login %}
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <a href="/auth/login/{% if env_name %}{{ env_name }}/{% endif %}">{% trans "login" %}</a>
                    </td>
                <tr>
                {% endblock %}

                {% block register_user %}
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <a href="/auth/register_user/{% if env_name %}{{ env_name }}/{% endif %}">{% trans "register new account" %}</a>
                    </td>
                <tr>
                {% endblock %}

                {% block add_environment %}{% endblock %}

            </table>

        </div>

    </form>

{% endblock %}
