{% extends "base_auth.html" %}

{% load i18n %}

{% block title %}{% trans "user data" %}{% endblock %}

{% block content %}

<script type="text/javascript" src="/static/js/utils.js"></script>

<h2>{% trans "services" %}</h2>

<div class="slider_area">
    <a href="" id="add_service_slider">[-] {% trans "create service" %}</a>

    <form action="" method="post">{% csrf_token %}
        <div id="add_service_data" style="display:block;">
            <table class="add_object">
                {{ service_form.as_table }}
                <tr>
                    <td colspan="2" class="control">
                        <input type="submit" value={% trans "create" %} />
                    </td>
                </tr>
            </table>

        </div>

    </form>
</div>

<script type="text/javascript">
    slider_mem('add_service_slider', 'add_service_data')
    $('#id_add_service-name').keyup(function() {
        $('#id_add_service-type').val($('#id_add_service-name').val())
    })
</script>

<br>

{% if services_error %}
    <span class="errormessage">{% trans  services_error %}</span>
{% else %}
    {% if services %}
        {% include "services_as_table.html" %}
    {% else %}
        {% trans "no services" %}
    {% endif %}
{% endif %}

{% endblock %}
