{% extends "base_auth.html" %}

{% load i18n %}

{% block title %}{% trans "user data" %}{% endblock %}

{% block content %}

<script type="text/javascript" src="/static/js/utils.js"></script>

<h2>{% trans "services" %}</h2>

<a href="" id="add_service">[+] {% trans "create service" %}</a>

<form action="" method="post">{% csrf_token %}
    <div id="new_service_data" style="display:none;">
        <table class="add_object">
            {{ service_form.as_table }}
            <tr>
                <td colspan="2" class="control">
                    <input type="submit" value={% trans "create" %} />
                </td>
            </tr>
        </table>

    </div>

</form>

<script type="text/javascript">
    slider_mem('add_service', 'new_service_data')
</script>

<br>

{% if services_error %}
    <span class="errormessage">{% trans  services_error %}</span>
{% else %}
    {% if services %}
        {% include "services_as_table.html" %}
    {% else %}
        {% trans "no services" %}
    {% endif %}
{% endif %}

{% endblock %}
