{% extends "base_auth.html" %}

{% load i18n %}

{% block title %}{% trans "add service" %}{% endblock %}

{% block content %}


<form action="" method="post">{% csrf_token %}

    <div class="bordered">

        <table class="object_form center">
            <tr>
                <td colspan="2">

                    <h2>
                        <a href="/auth/get_services/">{% trans "services" %}</a>
                        &rarr;
                        <span class="menu_linked">{% trans "add service" %}</span>
                    </h2>
                </td>
            </tr>

            {{ form.as_table }}

            <tr>
                <td colspan="2" class="control">
                    <input type="submit" style="font-weight:bold;" value="{% trans 'create' %}" />
                    <input type="hidden" id="stay_here" name="stay_here" value=0 />
                    <input type="submit" value="{% trans 'create and add another' %}"
                        onclick="var f = this.form; f.stay_here.value=1; f.submit()" />
                </td>
            </tr>
        </table>
        <br>
    </div>

</form>

<script type="text/javascript">
    $('#id_name').keyup(function() {
        $('#id_type').val($('#id_name').val())
    })
</script>

{% endblock %}
