{% extends "base.html" %}

{% block sidebar %}

{% load urlutils %}
{% load i18n %}

<table class="left_menu bordered wide">
    <tr><td></td></tr>
    {% if "/billing/get_currencies/,/billing/get_used_currencies/"|is_any_of_urls_allowed:rights %}
        <tr>
            <td>
                {% allowedurl %}
                    /billing/get_currencies/
                    {% trans "currencies list" %}
                    <br>
                {% endallowedurl %}

                {% allowedurl %}
                    /billing/get_used_currencies/
                    {% trans "used currencies" %}
                    <br>
                {% endallowedurl %}

                {% allowedurl %}
                    /billing/modify_used_currencies/
                    {% trans "modify used currencies" %}
                    <br>
                {% endallowedurl %}
                <br>
            </td>
        </tr>

    {% endif %}
    <tr><td>&nbsp;</td></tr>
</table>

{% endblock %}
