{% extends "base.html" %}

{% block sidebar %}

{% load urlutils %}
{% load i18n %}

<table class="left_menu bordered wide">
    <tr><td></td></tr>
    {% if "/billing/get_used_currencies/,/billing/modify_used_currencies/"|is_any_of_urls_allowed:rights %}
        <tr>
            <td>
                {% if "/billing/get_currencies/"|is_url_allowed:rights %}
                    {% allowedurl %}
                        /billing/get_used_currencies/
                        {% trans "currencies" %}
                        <br>
                    {% endallowedurl %}

                    {% allowedurl %}
                        /billing/modify_used_currencies/
                        {% trans "modify currencies" %}
                        <br>
                    {% endallowedurl %}
                {% endif %}
                <br>
            </td>
        </tr>
    {% endif %}

    {% if "/billing/get_action_logs/"|is_any_of_urls_allowed:rights %}
        <tr>
            <td>
                {% allowedurl %}
                    /billing/get_action_logs/
                    {% trans "all action logs" %}
                    <br>
                {% endallowedurl %}
                <br>
            </td>
        </tr>
    {% endif %}

    {% if "/billing/get_action_logs_self/"|is_any_of_urls_allowed:rights %}
        <tr>
            <td>
                {% allowedurl %}
                    /billing/get_action_logs_self/
                    {% trans "action logs" %}
                    <br>
                {% endallowedurl %}
                <br>
            </td>
        </tr>
    {% endif %}
    <tr><td>&nbsp;</td></tr>
</table>

{% endblock %}
