{% load i18n %}

<form action="" method="get">
    <div class="bordered">
        <table class="filter_object center">

            <tr>
                <th>
                    <h2 class="menu_linked">{% trans "action logs" %}</h2>
                </th>
                <td></td>
            </tr>

            {{ form.as_table }}

            <tr>
                <td colspan="2" class="control">
                    <input type="submit" value={% trans "filter" %} />
                </td>
            </tr>

        </table>

        <script type="text/javascript" src="/static/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/static/js/jquery.url.min.js"></script>
        <script type="text/javascript" src="/static/js/i18n/jquery-ui-i18n.js"></script>
        <script type="text/javascript" src="/static/js/calendar.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui/overcast/jquery-ui.custom.css" />

        <script type="text/javascript">
            calendar("from_request_date")
            calendar("to_request_date")
        </script>

        <br>
    </div>
</form>

{% include "core_action_logs/actions_list.html" %}
