{% extends "base_auth.html" %}

{% load i18n %}

{% block title %}{% trans "create new environment" %}{% endblock %}

{% block sidebar %}
    <style type="text/css">
        td.sidebar {width:0%;}
    </style>
{% endblock %}

{% block content %}

    {% load urlutils %}

    <form action="" method="post">{% csrf_token %}

        <div class="login">

            <table class="object_form center">
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <h2>
                            <span>{% trans "create new environment" %}</span>
                        </h2>
                    </td>
                </tr>

                {{ form.as_table }}

                <tr><td colspan="2"><br></td></tr>
                <tr>
                    <td colspan="2" class="control">
                        <input type="submit" value={% trans "create" %} />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <br>
                        {% blocktrans %}
                            Back to
                            <a href="/auth/login">login page</a>.
                        {% endblocktrans %}
                    </td>
                </tr>
            </table>

        </div>

    </form>


{% endblock %}
