{% extends "user/_billing_money_operations.html" %}

{% load i18n %}
{% load urlutils %}
{% load localeurl_tags %}


{% block title %}
    {% blocktrans %}
        add receipt to user #{{ user_id }}
    {% endblocktrans %}
{% endblock %}


{% block money_bread_crumbs %}

    {% if access_to_billing_user_info %}
        <a href="{{ '/billing/user_info/'|chlocale:cur_lang }}{{ user_id }}/">
            {% trans "user id #" %}{{ user_id }}
        </a>
    {% else %}
        {% trans "user id #" %}{{ user_id }}
    {% endif %}
    &rarr;
    {% allowedurl True %}
        /billing/get_balances/{{ user_id }}/
        {% trans "balances" %}
    {% endallowedurl %}
    &rarr;
    {% trans "add receipt" %}

{% endblock %}
