{% extends "base_billing.html" %}

{% load i18n %}

{% block title %}
    {% blocktrans %}
        add receipt to user #{{ user_id }}
    {% endblocktrans %}
{% endblock %}

{% block user_submenu %}
    {% include "user/billing_sumbmenu.html" %}
{% endblock %}

{% block content %}

    {% load urlutils %}
    {% load localeurl_tags %}

    <form action="" method="post">{% csrf_token %}

        <div class="bordered">

            <table class="object_form center">
                <tr>
                    <td colspan="2">
                        <h2 class="menu_linked">
                            {% if "/billing/get_balances/"|is_url_allowed:rights %}
                                <a href="{{ '/billing/user_info/'|chlocale:cur_lang }}{{ user_id }}/">
                                    {% trans "user id #" %}{{ user_id }}
                                </a>
                            {% else %}
                                {% trans "user id #" %}{{ user_id }}
                            {% endif %}
                            &rarr;
                            {% allowedurl True %}
                                /billing/get_balances/{{ user_id }}/
                                {% trans "balances" %}
                            {% endallowedurl %}
                            &rarr;
                            {% trans "add receipt" %}
                        </h2>
                    </td>
                </tr>

                {% if balances_error %}

                    <tr>
                        <td>
                            <span class="errormessage">{% trans balances_error %}</span>
                        </td>
                    </tr>

                {% else %}

                    {{ form.as_table }}

                    <tr>
                        <td colspan="2" class="control">
                            <input type="submit" style="font-weight:bold;" value="{% trans 'create' %}" />
                            <input type="hidden" id="stay_here" name="stay_here" value=0 />
                            <input type="submit" value="{% trans 'create and add another' %}"
                                onclick="var f = this.form; f.stay_here.value=1; f.submit()" />
                        </td>
                    </tr>

                {% endif %}

            </table>
            <br>
        </div>

    </form>


{% endblock %}
