{% extends "base_billing.html" %}

{% load i18n %}

{% block title %}{% trans "billing user information" %}{% endblock %}

{% block content %}

    {% load urlutils %}

    <div class="bordered">

        <table class="object_form center">
            <tr>
                <td colspan="2">
                    <h2>
                        {% allowedurl True %}
                            /billing/get_balances/
                            {% trans "balances" %}
                        {% endallowedurl %}
                        &rarr;
                        <span class="menu_linked">{% trans "user id" %} {{ user_id }}</span>
                    </h2>
                </td>
            </tr>

            {% if users_error %}

                <tr>
                    <td>
                        <span class="errormessage">{% trans users_error %}</span>
                    </td>
                </tr>

            {% else %}

                {% if user_id %}

                    {% if "/billing/get_balances/,/billing/get_action_logs/"|is_any_of_urls_allowed:rights %}

                        <tr><td><hr></td></tr>
                        <tr><td>
                            {% allowedurl %}
                                /billing/get_balances/?user_id={{ user_id }}
                                {% trans "user balance" %}
                                <br>
                            {% endallowedurl %}

                            {% allowedurl %}
                                /billing/get_action_logs/?user_id={{ user_id }}
                                {% trans "user billing action logs" %}
                                <br>
                            {% endallowedurl %}
                        </td></tr>

                    {% endif %}

                    {% if "/auth/modify_users/,/auth/get_action_logs/"|is_any_of_urls_allowed:rights %}

                        <tr><td><hr></td></tr>

                        {% load localeurl_tags %}

                        <tr>
                            <td>
                                <a href="{{ '/auth/user_info/'|chlocale:cur_lang }}{{ user_id }}/">
                                    {% trans "auth user info" %}
                                </a>
                            </td>
                        </tr>

                    {% endif %}

                {% else %}

                    <tr><td>{% trans "no available user operations" %}</td></tr>

                {% endif %}

            {% endif %}

        </table>

        <br>

    </div>

{% endblock %}
