{% extends "base_auth.html" %}

{% load i18n %}

{% block title %}{% trans "groups list" %}{% endblock %}

{% block content %}

<form action="" method="get">
    <div class="bordered">
        <table class="filter_object center">

            <tr>
                <th>
                    <h2 class="menu_linked">{% trans "groups" %}</h2>
                </th>
                <td></td>
            </tr>

            {{ form.as_table }}

            <tr>
                <td colspan="2" class="control">
                    <input type="submit" value={% trans "filter" %} />
                </td>
            </tr>
        </table>
        <br>
    </div>

    <br>

    {% load urlutils %}

    <div>
        {% trans "total groups" %}: {{ pager.total }} &nbsp;
        {% allowedurl %}
            /auth/add_group/
            {% trans "add group" %}
        {% endallowedurl %}
    </div>

    <br>

    <table class="center wide bordered">

        {% if groups_error %}

            <tr>
                <td>
                    <span class="errormessage">{% trans groups_error %}</span>
                </td>
            </tr>

        {% else %}

            {% if groups %}

                {% load transform %}
                {% load objectutils %}

                <tr>
                    <td colspan="4">
                        {% include "pager.html" %}
                    </td>
                </tr>

                <tr class="objects_fields">
                    <th>{% trans "name" %}</th>
                    <th>{% trans "is active" %}</th>
                    <th>{% trans "rights" %}</th>
                </tr>

                {% for grp in groups %}
                    <tr class="objects_data {% cycle 'row1' 'row2' %}">
                        <td>
                            {% allowedurl True %}
                                /auth/modify_group/{{ grp.id }}/
                                {% trans grp.name %}
                            {% endallowedurl %}
                            <br>
                            <span style="font-size:small;">
                            {% allowedurl%}
                                /auth/delete_group/{{ grp.id }}/
                                {% trans "delete group" %}
                            {% endallowedurl %}
                            </span>
                        </td>
                        <td>
                            {% if grp.is_active %}
                                +
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>

                            <table class="services_properties wide center">

                                {% for row in grp.rights %}

                                    <tr><th colspan="3">{{ services_idx|get:row.service_id|get:"name" }}</th></tr>

                                    {{ services_idx|get:row.service_id|get:"properties"|markitems:row.properties|listtotable:3 }}

                                {% endfor %}

                            </table>

                        </td>
                    </tr>

                {% endfor %}


                <tr>
                    <td colspan="4">
                        {% include "pager.html" %}
                    </td>
                </tr>

            {% else %}

                <tr><th>{% trans "no groups found" %}</th></tr>

            {% endif %}

        {% endif %}

    </table>

</form>

{% endblock %}