{% extends "base_auth.html" %}

{% load i18n %}

{% block title %}{% trans "modify group" %}{% endblock %}

{% block content %}

{% load urlutils %}

<form action="" method="post">{% csrf_token %}

    <div class="bordered">

        <table class="object_form center">
            <tr>
                <td colspan="2">
                    <h2>
                        {% allowedurl True %}
                            /auth/get_groups/
                            {% trans "groups" %}
                        {% endallowedurl %}
                        &rarr;
                        <span class="menu_linked">{% trans "modify group" %}</span>
                    </h2>
                </td>
            </tr>

            {{ form.as_table }}

            <tr class="control">
                <td colspan="2">
                    <input type="submit" style="font-weight:bold;" value="{% trans "save" %}" />
                    <input type="hidden" id="stay_here" name="stay_here" value=0 />
                    <input type="submit" value="{% trans "save and continue editing" %}"
                        onclick="var f = this.form; f.stay_here.value=1; f.submit()" />
                </td>
            </tr>
        </table>
        <br>
    </div>

</form>

{% endblock %}
